<section class="header">
<h1>Movable Box Generator</h1>
<button mat-raised-button color="primary" (click)=addBox() class="add-box">Add New Box</button>
<button mat-raised-button color="primary" (click)=toggleKeyboardControl() class="keyboard-control">{{keyboardControlEnabled ? 'Disable Keyboard Control' : 'Enable Keyboard Control'}}</button>
</section>

<section id="boxes">
    <div class="box" *ngFor="let box of boxes; let i = index" [id]="i" (click)="selectBox(i)" [ngClass]="{boxSelected: i.toString() == selectedBox}">
        <p>{{box.id}}</p>
    </div>
</section>